<div class="div-digitalizar" data-aos="fade">
    <div class="div-digitalizar__div-text">
        <h2 class="div-digitalizar__div-text__h2">¿DIGITALIZAR ES SUSTENTABLE? ¡POR SUPUESTO!</h2>
        <div class="icon-sustentable__div text-center">
            <i class="fi fi-ss-bulb icon-sustentable__div__i"></i>
        </div>
        <p class="div-digitalizar__div-text__p">La digitalización de empresas sustentables es un proceso que implica el uso de <strong>tecnologías digitales</strong> para mejorar la eficiencia, la competitividad y el impacto ambiental de las organizaciones que se comprometen con el desarrollo sostenible. La digitalización puede ayudar a las empresas sustentables a optimizar sus procesos, reducir sus costes, innovar en sus productos y servicios, y comunicar sus valores a sus clientes y stakeholders. Algunos ejemplos de digitalización de empresas sustentables son: el uso de plataformas online para gestionar la cadena de suministro, el empleo de sensores y big data para monitorizar el consumo de recursos, o la creación de aplicaciones móviles para fomentar el reciclaje y la movilidad sostenible.</p>
    </div>
    <div class="div-digitalizar__div-img">
        <img src="../../../../assets/imgs/digitalizar-img.jpg" class="div-digitalizar__div-img__img" alt="">
    </div>
</div>