<section class="father-section-home mb-3" data-aos="fade" data-aos-duration="3000">
  <section class="section-home p-5">
    <div class="section-home-container">
      <div class="section-home__div mw-100 d-flex flex-column align-items-center">
        <h1 class="text-center mb-3">¡Es con Consulteccnia!</h1>
        <h3 class="p-3 mb-4 text-center">{{paragraph}}</h3>
       <a href="#services-consulteccnia"><button class="btn section-home-container__button">HAZME AVANZAR <i class="fi fi-rr-hand-holding-seeding"></i></button></a>
      </div>
    </div>
  </section>
  <video
    autoplay
    muted
    loop
    src="../../../assets/imgs/fondo-video.mp4"
    class="background-video"
  ></video>
</section>
