<section class="father-section-home mb-3" data-aos="fade" data-aos-duration="3000">
  <section class="section-home p-5">
    <div class="section-home-container">
      <div class="section-home__div mw-100 d-flex flex-column align-items-center">
        <h1 class="text-center mb-3">Consulteccnia es Agencia Digital de <span class="section-home__div-span">Empresas Sustentables</span></h1>
        <h3 class="p-3 mb-1 text-center">{{paragraph}}</h3>
        <p class="text-center">Consulteccnia asume compromisos con los nuevos objetivos sustentables de la ONU. Nuestra ética recae en las buenas prácticas sostenibles y nuestra contribución a que logren impactar de forma efectiva. Somos tu agencia digital.</p>
       <a href="#services-consulteccnia"><button class="btn section-home-container__button">HAZME AVANZAR <i class="fi fi-rr-hand-holding-seeding"></i></button></a>
      </div>
    </div>
  </section>
</section>
<hr>
