@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
.navbar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.1rem;
}
.item__dashboard{
    text-decoration: none;
    color: black;
    border-radius: 2px;
    padding: 10px;
}
i{
    padding-right: 8px;
}
.item__dashboard:hover{
    background-color: rgb(30,30,30);
    color: #FFDE59;
    transition: .5s all;
}
.btn__logout{
    background-color: rgb(30,30,30);
    color: #FFDE59;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
.btn__logout:hover{
    background-color: orangered;
    color: white;
    transition: .5s all;
}