@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-brands/css/uicons-brands.css');
.about-me__container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.2rem;
    margin: 0.4rem;
}
.about-me__container-member{
    padding: 0.5rem;
    background: #ffde59;
    background-size: cover;
    background-position: top;
    border-radius: 5px;
}
.container-border{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-me__container-linkedin{
    color: black;
    text-decoration: none;
    font-weight: 700;
    transform: rotate(0deg);
    transition: transform 300ms ease-in;
}
.about-me__container-linkedin:hover{
    color: #413917;
    transition: 300ms;
    transform: scale(1.1,1.1);
}
a{
    color: rgb(80,80,80);
}
h1{
    color: #ffde59;
    font-size: 2.5rem;
}
.about-me__container-member__h2{
    background-color: rgb(40,40,40);
    color: #ffde59;
}
.about-me__container-member__h2-certifications{
    text-decoration: underline;
}
img{
    border-radius: 2px;
    box-shadow: 0px 0px 12px 1px;
}
.border-h1{
    border: 1px solid #ffde59;
    width: 30%;
}

@media screen and (max-width:768px) {
    .about-me__container{
        grid-template-columns: 100%
    }   
}