@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
.service-section{
    top: 0px;
    position: relative;
    left: 0px;
    border-left: 5px solid #FFDE59;
    border-right: 5px solid #FFDE59;
    margin: 2rem;
}
.service-section__h2{
    color: black;
    background:linear-gradient(180deg, white, rgb(240,240,240));
    border-bottom: 1px solid black;
    font-size: 2rem;
}
.background-video{
    right: 0;
    position: absolute;
    filter: blur(0.2px);
    object-fit: cover;
    opacity: 0.2;
    bottom: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
}
h3{
    font-size: 1.6rem;
}
p{
    font-size: 1.1rem;
}
.backgrounds-services{
    color: white
}
.services-div{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px,1fr));
    grid-template-rows: auto;
    padding: 0.2rem;
    grid-gap: 3px;
}
.services-div__btn-reserve{
    background-color: #FFDE59;
}
.services-div__btn-reserve:hover{
    background-color: black;
}
.services-div__service-container{
    padding: 0.5rem;
}
.services-div__service-container:hover{
    transform: scale(1.03,1.03);
}
